<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
	<img class="w3-image"
		src="https://res.cloudinary.com/dbqvnclyu/image/upload/v1671134685/21614_okza76.jpg"
		alt="shinshan" width="1600" height="800">
	<div class="w3-display-bottomleft w3-padding-large w3-opacity">

	</div>
</header>

<br>
<br>

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form class="form1" action="/login" method="post">
			<span>Use your email for registration</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Sign Up</button>
		</form>

	</div>
	<div class="form-container sign-in-container">
		<form class = "form1" action="/login" method="post">
			<h1>Log in</h1>
			<input name="email" type="email" placeholder="Email" />
			<input name="password" type="password" placeholder="Password" />
			<button>
				<a href="/profile">Log In</a>
			</button>

			{{#if errorMessage}}
			<p class="error">{{errorMessage}}</p>
			{{/if}}

		</form>
	</div>

	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start your spectacular journey with ironfox Anime library!</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<br>
<br>