{{#if user}}
<h1>Welcome, {{user.username}}</h1>

<p> This is your personal page. You can see your saved favorite anmie lists</p>

<p>XXXX</p>

<div>

enters the save favorite anime here 

</div>



{{else}}
<p>Excuse me, you are not logged in yet</p>
{{/if}}