<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="https://res.cloudinary.com/dbqvnclyu/image/upload/v1670529594/7869407_jif8vp.jpg" alt="shinshan" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">

  </div>
</header>

<br>

{{#if username}}
<h1>Welcome, {{username}}</h1>

<p> This is your personal page. You can see your saved favorite anmie lists</p>

<p>XXXX</p>

<div>

enters the save favorite anime here 

</div>



{{else}}
<p>Excuse me, you are not logged in yet</p>
{{/if}}