<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="https://res.cloudinary.com/dbqvnclyu/image/upload/v1671134685/21613_he0wdm.jpg" alt="shinshan" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">

  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://res.cloudinary.com/dbqvnclyu/image/upload/v1670362899/20993_as8kuz.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Browse Anime</h1><br>
      <h5 class="w3-center">Your Anime Library 📚</h5>
      <p class="w3-large">Ironfox is using 
        <span class="w3-tag w3-light-grey">Kitsu API</span>
        to you to track the anime you're watching, discover new anime and check all the relative attributes of the anime.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">On Ironfox, you can browse around 50 different kinds of animes, see the detailed information about the anime, also create an account and save your favorite anime.  </p>
    </div>
  </div>
  
  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Personal Profile</h1><br>
      <h4>Save your Favorite</h4>
      <p class="w3-text-grey">
        Click on Browse anime and you are able to see around 50 different animes. Click on the button and check the details of the aninme. 
        You will see the rating, age guide, status, episode information and the description of the anime. 
      </p><br>
    
      <h4>Your Favorite Anime</h4>
      <p class="w3-text-grey">Feel free to add the favorite anmie to your personal profile page to keep track of the anime status, and you can delete them whenever you want. </p><br>
    
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <img src="https://res.cloudinary.com/dbqvnclyu/image/upload/v1670497947/641607_izkb4o.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>

  <hr>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Talk to us</h1><br>
    <p>If you have any news or update on the anime information, or you just want to have a chat 😁,  feel free to reach out to us!</p>
    <p class="w3-text-blue-grey w3-large"><b>Ironfox </b></p>
    <p>You can contact us by email fakeaddress@ironfox.com</p>
  </div>


