<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{appTitle}}</title>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

  <style>
    body {
      font-family: "Times New Roman", Georgia, Serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
    }
  </style>

  <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <!--
      <img src="https://res.cloudinary.com/dbqvnclyu/image/upload/v1673092776/fox_007_zwjdka.png" class="w3-bar-item w3-button" alt="FoxImg" width="30px">
      -->
    <a href="/" class="w3-bar-item w3-button">Ironfox</a>
    <a href="/anime" class="w3-bar-item w3-button">Anime</a>
    <a href="/login" class="w3-bar-item w3-button">Log in</a>

    <form action="/anime-search" class="w3-right w3-hide-small" method="get">
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="ðŸ”  Search Anime"
              aria-label="Search">
    </form>

    {{#if user.username}}

        <a href="/{{user.username}}" class="w3-bar-item w3-button">Profile</a>

      {{/if}}


    {{#if user.username}}
  
          <form action="/logout" method="post">
            <button type="submit" class="w3-bar-item w3-button">Logout</button>
          </form>
 
        {{/if}}
     

    {{#unless user.username}}

      <a href="/signup" class="w3-bar-item w3-button">Sign Up</a>
    
      {{/unless}}

  </div>
</div>


  <!-- content in other hbs files--->
  {{{body}}}


  <!-- End page content -->
  </div>

  <!-- Footer -->

  <footer class="w3-center w3-light-grey w3-padding-32">
    <p>Ironfox is developed by Rian Yan
      <img src="https://res.cloudinary.com/dbqvnclyu/image/upload/v1671137344/download_tlqkj2.png" alt="github"
        width="20px" height="auto">
      <a href="https://github.com/rianyan9723" target="_blank" class="w3-hover-text-green"> rianyan9723</a>
      and Alexandre Cunha
      <img src="https://res.cloudinary.com/dbqvnclyu/image/upload/v1671137344/download_tlqkj2.png" alt="github"
        width="20px" height="auto">
      <a href="https://github.com/R3alistic" target="_blank" class="w3-hover-text-green">R3alistic</a>
      <br>
      <br>
      Ironhack project 2
    </p>
  </footer>


  <script src="/js/script.js"></script>
</body>

</html>