<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <img class="w3-image"
        src="https://res.cloudinary.com/dvncucx9s/image/upload/v1673373399/Captura_de_ecr%C3%A3_2023-01-10_175254_yzx2fv.png"
        alt="shinshan" width="1600" height="800">
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">

    </div>
</header>

<hr>

<div class="container">
    <h6 class="text-muted">Search Results</h6>
    <div class="row">
        {{#each animes}}
        <div class="col-12 col-md-2 col-lg-5">
            <ul class="list-group">
                <a href="/anime/{{attributes.slug}}">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{attributes.title.en}}
                        {{#unless attributes.title.en}}
                        {{attributes.canonicalTitle}}
                        {{/unless}}
                        <div class="image-parent">
                            <img src="{{attributes.posterImage.small}}" class="img-fluid" alt="anime-image">
                        </div>
                    </li>
                </a>
            </ul>
        </div>
        {{/each}}
    </div>
</div>