


<div class="w3-row">
  <div class="w3-col m4 l3">
    <img src="{{attributes.posterImage.tiny}}" class="card-img-top" alt="Anime">
  </div>
  <div class="w3-col m8 l9">
    <p>12 columns on a small screen, 8 on a medium screen, and 9 on a large screen.</p>
  </div>
</div>


<!--

Anime Details
English
Demon Slayer: Kimetsu no Yaiba - Entertainment District Arc
Japanese
鬼滅の刃 遊郭編
Japanese (Rōmaji)
Kimetsu no Yaiba: Yuukaku-hen
Synonyms
Kimetsu no Yaiba 2, Demon Slayer: Kimetsu no Yaiba Season 2, Demon Slayer 2, Demon Slayer: Kimetsu no Yaiba - Yuukaku-hen
Type
TV
Episodes
11
Status
Finished
Aired
Dec 5, 2021 to Feb 13, 2022
Season
Winter 2022
Rating
R - 17+ (violence & profanity)

-->