<h1>{{ }}</h1>

<div>
    <p>xxx: {{ }}</p>
    <p>Rating: {{ }}</p>
    <p>description: {{ }}</p>

    <form action="/animes/{{book_id}}/delete" method="post">
    <button type="submit">Delete</button>
    </form>



</div>