<h1>Animes</h1>


<div>
    {{#each animes}}

    <div>
        <h3>{{titles.en}}</h3>
        <h6>{{titles.ja_jp}}</h6>
        <h3><img src="{{posterImage.tiny}}"></h3>
        {{!-- <p>By: {{ }}</p>
        <p>Rating: {{ }} </p> --}}

        <button><a href="/animes/{{id}}">See details</a></button>
    </div>

    {{/each}}
</div>